@base: #592059;
@complement: #76852F;
@neutral: #fff;

@bg: darken(@base, 25);
@anchor: lighten(@base, 15);
@head: lighten(@complement, 5);
@fg: fadeout(@neutral, 50);

@avatar-size: 4rem;
@project-radius: .5em;

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.icon {
  font-size: 1.5em !important;
  display: inline-block;
  vertical-align: -15%;
  margin-right: .3em;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: @anchor;

  &:hover {
    color: @fg;
  }
}

body {
  background-color: @bg;
  color: @fg;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  max-width: 60em;
  margin: 0 auto 2em;

  h1, h2, h3, h4, h5 {
    color: @head;
  }
  
  h1, h2 {
    font-weight: 200;
  }

  h3, h4, h5 {
    font-weight: 400;
  }

  header, section {
    .clearfix;
    margin: 2rem 5%;
    clear: both;
  }

  header {
    h1 {
      font-size: 4em;
      @media (max-width: 40em) {
        font-size: 9.2vw;
      }
    }
    p {
      font-size: 1.2em;
      padding: 0.3rem 0.6em;

      @media (max-width: 40em) {
        font-size: 1em;
        padding-left: .3em;
      }

      @media (max-width: 30em) {padding-left: 0}
    }
  }

  section {
    > article, > ul > li {
      margin: .5em 0;
    }
  }

  #games {
    article {
      padding: .2em 0 2em;

      > a {
        position: relative;
        display: block;
        height: 10em;
        border-radius: @project-radius;
        background-position: center center;
        background-size: cover;
        margin-bottom: .5em;

        h3 {
          min-width: 50%;
          padding: .15em .3em .2em;
          color: @anchor;
          text-align: right;
          position: absolute;
          bottom: 1.5em;
          background-color: fadeout(@bg, 10);
          z-index: 2;
        }

        &:hover {
          h3 {
            color: @fg;
          }

          &::after {
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: fadeout(@base, 50);
            border-radius: @project-radius;
            z-index: 1;
          }
        }
      }

      &:nth-child(2n+1) > a h3 {
        text-align: left;
        right: 0;
      }

      &#ggj14 > a {background-image: url('games/ymir.jpg')}
      &#ggj15 > a {background-image: url('games/business.jpg')}
    }
  }

  #staff {
    > ul > li {
      padding-left: @avatar-size;

      &::before {
        content: ' ';
        margin-top: .7em;
        width: @avatar-size;
        height: @avatar-size;
        border-radius: @avatar-size/2;
        background-size: @avatar-size;
        margin-left: -@avatar-size;
        float: left;
        background-color: fadeout(@fg, 30);
      }

      &#colons::before{background-image: url('staff/colons.png')}
      &#euri::before{background-image: url('staff/euri.png')}
      &#nced::before{background-image: url('staff/nced.png')}
      &#okand::before{background-image: url('staff/okand.png')}
      &#shillito::before{background-image: url('staff/peter.png')}

      > * {
        margin-left: 1rem;
      }

      p {
        margin-top: .2em;
        margin-bottom: .5em;
      }

      .contact {
        span {
          .icon;
        }
      }

      @media (min-width: 50em) {
        display: inline-block;
        width: 49%;
        vertical-align: top;

        &:nth-child(2n) {
          float: right;
        }

        &:nth-child(2n+1) {
          clear: both;
          float: left;
        }
      }
    }
  }

  footer {
    text-align: center;
    margin-bottom: 3em;

    li {
      span {
        .icon;
      }
    }
  }
}
